<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./attatcher-style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-file">
      <ul class="files-list">
        <li class="file">
          <div class="box-file">
            <div class="content">
              <img
              class="lixeira-icon"
              src="../../imgs/lixeira.png"
              alt="lixeira-icon"
            />
            <img
              class="lixeira-icon"
              src="../../imgs/obs-anexo.png"
              alt="lixeira-icon"
            />
            <p class="doc-file">Documento</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
