<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./attatcher-style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.3.3/pdf-lib.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="form-file">
      <ul class="files-list">
        <li class="file">
          <div class="box-file">
            <div class="content">
              <img
              class="lixeira-icon"
              src="../../imgs/lixeira.png"
              alt="lixeira-icon"
            />
            <img
              class="visualizar-icon"
              src="../../imgs/obs-anexo.png"
              alt="visualizar-icon"
            />
            <p class="doc-file">Anexar Documento</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
          <button type="button" class="btn btn-default product">Incluir Anexo</button>
      </div>
    </div>
    <script type="module" src="./script/index.js"></script>
  </body>
</html>
