<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./viwerFile.css">
    <title>Viewer File</title>
  </head>
  <body>
    <div class="main-box">
      <h1>File Viewer</h1>
      <embed src="embe" class='myPdfEmbed' type='application/pdf'></embed>
      <a class="downloadButton" href="" download></a>
    </div>
    <script type="module" src="./script/indexViwer.js"></script>
  </body>
</html>
